<div class="container">
  <div class="row">
    <h1 class="text-center" style="color:#445d77;">Add to your News Blog</h1>
    <div class="col-xs-12">
      <%= simple_form_for @new_feature do |form| %>
      <%#= form_with model: @new_feature, local: true do |form| %>
        <%= form.input :title %>
        <%= form.input :text %>
        <%= form.input :images, as: :file, input_html: { multiple: true } %>
        <br>
        <%= form.submit "Add To News", class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>


<style>
  body {
    background-color: #fff;
  }

  .row {
    margin-top:35px;
    box-shadow:5px 5px 25px 0px #778899 ;
    padding-bottom: 25px;
  }

  .new_feature_title, .new_feature_text, .new_feature_title input, .new_feature_text input, .new_feature_images {
    color:#445d77;
  }

  input {
    color:#778899;
  }

</style>
